@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

::file-selector-button {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: .5px solid #343434;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0 .5rem 0 0;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border-radius: 4px;
}
button[type="submit"] {
  padding: .5rem 1rem;
}
